<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Syntho</title>
    <link href="application.css" rel="stylesheet">
    <script data-main="app" src="application.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container syntho">
      <div class="row">
        <div class="col-md-12">
            <div class=" panel panel-default"><div class="panel-heading"><h1>Syntho <small>HTML5/Web Audio Synth by Michael Marner</small></h1></div></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">{{> vco number='1'}}</div>
        <div class="col-md-2">{{> vco number='2'}}</div>
        <div class="col-md-2">{{> vco number='3'}}</div>
        <div class="col-md-3">{{> filter name='filter'}}</div>
        <div class="col-md-3">{{> lfo name='lfo'}}</div>
        <div class="col-md-6">{{> adsr name='adsr'}}</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{> keyboard}}
        </div>
      </div>
    </div> <!-- end of syntho -->
  </body>
</html>
