<div class="panel panel-default">
  <div class="panel-heading">
    Keys
  </div>
  <div class="panel-body">

    <div class="keyboard white_key" id="c">C</div>
    <div class="keyboard black_key" id="cs">F</div>
    <div class="keyboard white_key" id="d">V</div>
    <div class="keyboard black_key" id="ds">G</div>
    <div class="keyboard white_key" id="e">B</div>
    <div class="keyboard white_key" id="f">N</div>
    <div class="keyboard black_key" id="fs">J</div>
    <div class="keyboard white_key" id="g">M</div>
    <div class="keyboard black_key" id="gs">K</div>
    <div class="keyboard white_key" id="a">,</div>
    <div class="keyboard black_key" id="as">L</div>
    <div class="keyboard white_key" id="b">.</div>
    <div class="keyboard white_key" id="c1">/</div>
  </div>
</div>
