<div class="panel panel-default">
  <div class="panel-heading">
    Keys
  </div>
  <div class="panel-body">

    <div class="keyboard white_key" id="0">C</div>
    <div class="keyboard black_key" id="1">F</div>
    <div class="keyboard white_key" id="2">V</div>
    <div class="keyboard black_key" id="3">G</div>
    <div class="keyboard white_key" id="4">B</div>
    <div class="keyboard white_key" id="5">N</div>
    <div class="keyboard black_key" id="6">J</div>
    <div class="keyboard white_key" id="7">M</div>
    <div class="keyboard black_key" id="8">K</div>
    <div class="keyboard white_key" id="9">,</div>
    <div class="keyboard black_key" id="10">L</div>
    <div class="keyboard white_key" id="11">.</div>
    <div class="keyboard white_key" id="12">/</div>
  </div>
</div>
