body {
    background-color: #ffffff;
}

.syntho {
}

h2 {
    text-align: center;
}

.dial-container {
    margin-top: 15px;
}
.dial-container-side {
    margin-right: 15px;
    margin-left: 15px;
}
