body {
    background-color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}

.syntho {
}


h2 {
    text-align: center;
}

.btn-xs {
    font-size: 9.0px;
}

.btn-group-xs .btn {
    font-size: 9.0px;
}

.btn-group-xs .btn-xs {
    font-size: 9.0px;
}

h1 {
    font-family: 'Orbitron';
}

.dial-container {
    margin-top: 15px;
}
.dial-container-side {
    margin-right: 15px;
    margin-left: 15px;
}

@mixin noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

@mixin rounded($radius: 1.0em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin keyboard() {
    @include rounded;
    @include noselect;
    height: 150px;
    width: 7.5%;
    padding-left: 6px;
    padding-top: 6px;
    float: left;
    margin: 1px;
}


.white_key {
    @include keyboard;
    background-color: #eee;
    &:hover {
    background-color: #fff;
    }
    border-style: solid;
    border-color: #87ceeb;
    border-width: 2px;
}

.black_key {
    @include keyboard;
    background-color: #222;
    &:hover {
        background-color: #333;
    }
}
